.banner{
    flex-direction: column-reverse;
}
.banner .image{
    width: 100%;
}

.client-logos{
    flex-direction: column;
}

.boxes{
    flex-direction: column;
}

.lists{
    flex-direction: column;
}

.cards{
    flex-direction: column;
}
.card{
    width: 100%;
    margin-bottom: 4px;
}

.contact-us{
    flex-direction: column;
}

.form, .contact-image{
    width: 100%;
}